/* Colores del sitio */

.color1 {
    background-color: #88498F;
    color: whitesmoke;
}

.color2 {
    background-color: #9ccbce;
    color: black;
}

.color3 {
    background-color: #E0CBA8;
    color: black;
}

.color4 {
    background-color: #d42d07;
    color: whitesmoke;
}

.color5 {
   background-color: #564154; 
   color: white;
}